NEXT_PUBLIC_SUPABASE_URL=https://wdimzayfvtlrxljpsvza.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndkaW16YXlmdnRscnhsanBzdnphIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzMTQwMTYsImV4cCI6MjEwMTg5MDAxNn0.yTfnKJV2je1P4I12VNT1LZz78mF0ge9Y1ymtnoRqVfU
NEXT_PUBLIC_TIKLADOY_URL=https://tikladoy.tr
NEXT_PUBLIC_BURGERMY_URL=https://burgermy-v1.ofrkcaliskan.chatgpt.site
